# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.venv/
venv/
env/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.swp

# Docker logs
*.log
